<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.ac.ncl.csc2022.t14.bankingapp" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="sensorPortrait" >

            <!--
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->

        </activity>
        <activity
            android:name=".activities.AccountActivity"
            android:label="@string/title_activity_account" >
        </activity>
        <activity
            android:name=".activities.ProductActivity"
            android:label="@string/title_activity_product" >
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter android:label="@string/app_name" >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.TransferActivity"
            android:label="@string/title_activity_product" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activities.CategorizeActivity"
            android:label="@string/title_activity_categorize" >
        </activity>
        <activity
            android:name=".activities.RewardsActivity"
            android:label="@string/title_activity_rewards" >
        </activity>
        <activity
            android:name=".activities.SpinActivity"
            android:label="@string/title_activity_spin" >
        </activity>
    </application>

</manifest>
