<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="uk.ac.ncl.csc2022.t14.bankingapp">

    <permission
        android:name="uk.ac.ncl.csc2022.t14.bankingapp.permission.MAPS_RECEIVE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="uk.ac.ncl.csc2022.t14.bankingapp.permission.MAPS_RECEIVE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="sensorPortrait" >

            <!--
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->

        </activity>
        <activity
            android:name=".activities.AccountActivity"
            android:label="@string/title_activity_account" >
        </activity>
        <activity
            android:name=".activities.ProductActivity"
            android:label="@string/title_activity_product" >
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter android:label="@string/app_name" >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.TransferActivity"
            android:label="@string/title_activity_product" >
        </activity>

       <!-- <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>-->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBZSLhYJBvent7RLKDpmki_Mrb-0Bu5nUk"/>


        <activity
            android:name=".activities.CategorizeActivity"
            android:label="@string/title_activity_categorize" >
        </activity>
        <activity
            android:name=".activities.RewardsActivity"
            android:label="@string/title_activity_rewards" >
        </activity>
        <activity
            android:name=".activities.SpinActivity"
            android:label="SpinActivity" >
        </activity>
        <activity
            android:name=".activities.BudgetEditActivity"
            android:label="@string/title_activity_budget_edit"
            android:windowSoftInputMode="adjustPan">
        </activity>
    </application>

</manifest>
